<div class="mainContainer">
    <p>Bienvenido/a a esta API Rest.</p> <br>
    <p>Podrás observar la lista de productos almacenados en la base de datos de forma estática o dinámica con websocket.</p>
</div>