@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;

    text-decoration: none;

    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    color: #FFFFFF;
}

body main .realTimeProductsContainer .formContainer .f-item select
{
    display: block;
}

/* Main View */

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body main {
    height: auto;
    flex: 1;
}

body header {
    background-color: rgb(29, 29, 29);
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 45px;
    width: 100%;
    padding: 0 30px;
    box-shadow: 0px 4px 6px rgba(29, 29, 29, 0.3);
}

body header h1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

body header .icon {
    display: none;
}

body header h1 a {
    color: #ec7063;
}

body header nav a {
    transition: color 0.3s ease;
}

body header nav {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

body header nav a {
    margin: 0 30px;
}

body main .mainContainer {
    margin: 50px;
    font-size: larger;
    text-align: center;
}

body footer {
    background-color: rgb(29, 29, 29);
    color: #FFFFFF;
    text-align: center;
    height: auto;
    padding: 10px;
    width: 100%;
}

/* Products View */

body main .productsContainer {
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

body main .productsContainer .products {
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: left;
    justify-content: center;
    flex-wrap: wrap;
}

body main .productsContainer .products .item {
    background-color: rgb(29, 29, 29);
    color: #FFFFFF;
    width: 30vw;
    height: auto;
    text-align: justify;
    padding: 10px;
    padding-left: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 4px rgba(29, 29, 29, 0.3);
}

body main .productsContainer .products .item span {
    color: #ec7063;
}

body main .productsContainer .products .item .addToCartButton {
    display: block;
    background-color: #2980b9;
    color: #FFFFFF;
    border: none;
    width: 200px;
    height: 35px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    margin: 10px auto;
    padding: 0;
}

/* Real Time Products View */

body main .realTimeProductsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-items: center;
}

body main .realTimeProductsContainer .contentContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    gap: 20px;
    text-align: center;
}

body main .realTimeProductsContainer .formContainer {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    margin: 40px;
    padding: 50px;
    background-color: rgb(29, 29, 29);
    color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 6px 4px rgba(29, 29, 29, 0.3);
}

body main .realTimeProductsContainer .formContainer .f-item {
    margin: 5px 0;
    width: 100%;
}

body main .realTimeProductsContainer .formContainer .f-item label {
    width: 100%;
    color: #ec7063;
}

body main .realTimeProductsContainer .formContainer .f-item input {
    width: 100%;
    flex: 1;
}

body main .realTimeProductsContainer .formContainer .f-item input#status {
    width: 10%;
}

body main .realTimeProductsContainer .formContainer .send-btn {
    background-color: #2980b9;
    color: #FFFFFF;
    border: none;
    height: 35px;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    border-radius: 10px;
}

body main .realTimeProductsContainer .contentContainer #prodContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    text-align: left;
    justify-content: center;
    margin: 0 10px;
}

body main .realTimeProductsContainer .contentContainer #prodContainer .item {
    background-color: rgb(29, 29, 29);
    color: #FFFFFF;
    width: 30vw;
    height: auto;
    text-align: justify;
    padding: 10px;
    padding-left: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 4px rgba(29, 29, 29, 0.3);
}

body main .realTimeProductsContainer .contentContainer #prodContainer .item span {
    color: #ec7063;
}

body main .realTimeProductsContainer .contentContainer #prodContainer .item .del-btn {
    display: block;
    border-radius: 10px;
    height: 35px;
    width: 100px;
    border: none;
    background-color: #2980b9;
    color: #FFFFFF;
    margin: 10px 0;
    border: 1px solid transparent;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin: 10px auto;
}

/* Carts view */

body main .cartsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 20px;
}

body main .cartsContainer .carts {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: left;
    justify-content: center;
    flex-wrap: wrap;
}

body main .cartsContainer .carts .cart-item {
    background-color: rgb(29, 29, 29);
    color: #FFFFFF;
    width: 30vw;
    height: auto;
    text-align: justify;
    padding: 10px;
    padding-left: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 4px rgba(29, 29, 29, 0.3);
}

body main .cartsContainer .carts .cart-item span {
    color: #ec7063;
}

body main .cartsContainer .carts .cart-item .select-cart {
    background-color: #2980b9;
    color: #FFFFFF;
    border: none;
    width: 200px;
    height: 35px;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    border-radius: 10px;
}

/* Cart Products List */

body main .cartProductListContainer {
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

body main .cartProductListContainer .productList {
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: left;
    justify-content: center;
    flex-wrap: wrap;
}

body main .cartProductListContainer .productList .cartProductListItem {
    background-color: rgb(29, 29, 29);
    color: #FFFFFF;
    width: 30vw;
    height: auto;
    text-align: justify;
    padding: 10px;
    padding-left: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 4px rgba(29, 29, 29, 0.3);
}

body main .cartProductListContainer .productList .cartProductListItem span {
    color: #ec7063;
}

/* Web */
 
@media screen and (min-width: 1025px) and (max-width: 2000px) {

    body header nav a:hover {
        color: #ec7063;
    }

    body main .realTimeProductsContainer .contentContainer #prodContainer .item .del-btn:hover {
        background-color: rgb(244, 67, 54);
    }

    body main .realTimeProductsContainer .formContainer .send-btn:hover {
        background-color: #27ae60;
    }

    body main .productsContainer .products .item .addToCartButton:hover {
        background-color: #27ae60;
    }

    body main .cartsContainer .carts .cart-item .select-cart:hover {
        background-color: #27ae60;
    }
}

/* Mobile */

@media screen and (min-width: 320px) and (max-width: 768px) {

    /* Main View */

    body header {
        display: flex;
        flex-direction: row;
        height: 10vh;
        padding: 0;
        box-shadow: none;
    }

    body header h1 {
        display: none;
    }

    body header .icon {
        display: block;
        font-size: 2.5rem;
        margin: 10px;
    }

    /* Products View */

    body main .productsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        margin: 20px 0;
    }

    body main .productsContainer .products {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    body main .productsContainer .products .item {
        width: 100%;
        margin: 0 auto;
        transition: none;
    }

    /* Real Time Products View */

    body main .realTimeProductsContainer .contentContainer {
       width: 80%;
       margin: 0 auto;
       gap: 0;
    }

    body main .realTimeProductsContainer .contentContainer #prodContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }

    body main .realTimeProductsContainer .contentContainer #prodContainer .item {
        width: 100%;
        margin: 0 auto;
    }

    body main .realTimeProductsContainer .formContainer {
        width: 80%;
    }

    body main .realTimeProductsContainer .contentContainer #prodContainer .item .del-btn {
        background-color: rgb(244, 67, 54);
    }
}

/* Tablet */

@media screen and (min-width: 769px) and (max-width: 1024px) {
   
    /* Main View */

    body header {
        display: flex;
        flex-direction: row;
        height: 10vh;
        padding: 0;
        box-shadow: none;
    }

    body header h1 {
        display: none;
    }

    body header .icon {
        display: block;
        font-size: 2.5rem;
        margin: 10px;
    }
}